@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    border: 0px;
}

body {
    
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    height: 100vh;

}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}